In [1]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir) 
from src.Utils.SaverUtils import Saver

import numpy as np
import pandas as pd

In [2]:
Cum_Total_Cases = np.array([1,1,1,5,6,18,48,98,191,359,670,947,1236,1529,1847,2433,3629,5698,7402,9217,10827,13531,15649,18135])

In [3]:
df = pd.DataFrame(Cum_Total_Cases,columns=['Cumulative_Cases'])

In [4]:
df[1:5]

    Cumulative_Cases
1                  1
2                  1
3                  5
4                  6
5                 18
6                 48
7                 98
8                191
9                359
10               670
11               947
12              1236

In [5]:
pd.to_datetime(np.arange(1,50,1),unit='D',
               origin=pd.Timestamp('2020-03-10'))

DatetimeIndex(['2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14',
               '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18',
               '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22',
               '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26',
               '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30',
               '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03',
               '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07',
               '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11',
               '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15',
               '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19',
               '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
               '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
               '2020-04-28'],
              dtype='datetime64[ns]', freq=None)

In [6]:
df.set_index(pd.to_datetime(np.arange(0,50,1),unit='D',
               origin=pd.Timestamp('2020-03-09'))[1:25],inplace=True)

In [7]:
df

            Cumulative_Cases
2020-03-10                 1
2020-03-11                 1
2020-03-12                 1
2020-03-13                 5
2020-03-14                 6
2020-03-15                18
2020-03-16                48
2020-03-17                98
2020-03-18               191
2020-03-19               359
2020-03-20               670
2020-03-21               947
2020-03-22              1236
2020-03-23              1529
2020-03-24              1847
2020-03-25              2433
2020-03-26              3629
2020-03-27              5698
2020-03-28              7402
2020-03-29              9217
2020-03-30             10827
2020-03-31             13531
2020-04-01             15649
2020-04-02             18135

In [9]:
directory_nb = "/Users/yigitbaser/Coronavirusmodel/Storage/RealData/Stats_by_Country/Turkey/CumulativeCases.csv"

In [11]:
Saver.save_to_directory(data_to_save=df,directory=directory_nb,header_inp=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24 entries, 2020-03-10 to 2020-04-02
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cumulative_Cases  24 non-null     int64
dtypes: int64(1)
memory usage: 384.0 bytes