In [3]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir) 

import numpy as np
import pandas as pd
from src.Utils.SaverUtils import Saver

In [38]:
DailyNew = np.array([1,2,5,12,9,7,15,16,17,
                         16,23,37,46,63,79],dtype='int32')
#

In [40]:
df_DailyNew = pd.DataFrame(DailyNew)

In [41]:
df_DailyNew.columns = ['DailyNewDeaths']

In [42]:
df_DailyNew

    DailyNewDeaths
0                1
1                2
2                5
3               12
4                9
5                7
6               15
7               16
8               17
9               16
10              23
11              37
12              46
13              63
14              79

In [44]:
df_DailyNew.set_index(pd.to_datetime(np.arange(df_DailyNew.size), unit='D',
                                         origin=pd.Timestamp('2020-03-18')),inplace=True)

In [46]:
df_DailyNew

            DailyNewDeaths
2020-03-18               1
2020-03-19               2
2020-03-20               5
2020-03-21              12
2020-03-22               9
2020-03-23               7
2020-03-24              15
2020-03-25              16
2020-03-26              17
2020-03-27              16
2020-03-28              23
2020-03-29              37
2020-03-30              46
2020-03-31              63
2020-04-01              79

In [47]:
directory_nb = "/Users/yigitbaser/Coronavirusmodel/Storage/RealData/Stats_by_Country/Turkey/DailyNewDeaths.csv"

In [48]:
Saver.save_to_directory(data_to_save=df_DailyNew,directory=directory_nb)