In [1]:
import pandas as pd
import numpy as np
from src.Data.gathering import gathering as gt
from src.Utils.Loader import Loader
from src import Processing
from

ModuleNotFoundError: No module named 'src'

In [ ]:
daily_death = gt.get_daily_deaths_data()

In [2]:
total_table = gt.get_total_data()

NameError: name 'gt' is not defined

In [3]:
total_deaths = gt.get_total_deaths_data()

NameError: name 'gt' is not defined

In [27]:
total_table

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop
0,China,81054,+46,3261.0,6.0,72440.0,5353,1845.0,56.00
1,Italy,53578,NaN,4825.0,NaN,6072.0,42681,2857.0,886.00
2,USA,26892,"+2,685",348.0,46.0,178.0,26366,708.0,81.00
3,Spain,25496,NaN,1381.0,NaN,2125.0,21990,1612.0,545.00
4,Germany,22364,NaN,84.0,NaN,209.0,22071,2.0,267.00
...,...,...,...,...,...,...,...,...,...
185,Sint Maarten,1,NaN,NaN,NaN,NaN,1,NaN,23.00
186,Somalia,1,NaN,NaN,NaN,NaN,1,NaN,0.06
187,Timor-Leste,1,NaN,NaN,NaN,NaN,1,NaN,0.80
188,Uganda,1,NaN,NaN,NaN,NaN,1,NaN,0.02
189,Total:,308547,3557,13069.0,62.0,95829.0,199649,9943.0,39.60

In [28]:
Processing.Process.get_country_case_number(country='France',data_type='TotalCases',total_case_table=total_table)

6    14459
Name: TotalCases, dtype: int64

In [30]:
total_table[total_table['Country,Other']=='France']

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop
6,France,14459,NaN,562.0,NaN,1587.0,12310,1525.0,222.0